.mycart{
    display: flex;
    justify-content: space-evenly
}
.myclosebutton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px

}
.mypurchasebutton{
    display: flex;
    align-items: center;
    justify-content: center;

}